

@font-face {
  font-family: hairyBeard;
  src: url(css/Hairy_Beard.otf);
}
.parallax1 {
  /* The image used */
  background-image: url("dingbnong.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


}
.choices{
    display: inline-flex;
}
.optionl{
  height: 350px;
  width: 300px;
  background-color: white;
  display: flex;

  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#content{
  width: 300px;
  text-align: center;

}
.optionhover{
  flex-grow: 10%;
}
.haha{
height:500px;
background-color:green;
font-size:36px;
text-align: center;
}
#cataloghead{
    font-family: Arial, Helvetica, sans-serif;
    font-size:38px;
}

.parallax2{
    /* The image used */
    background-image: url("images.jpeg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.button {
  text-decoration: none;
  color: #2F3930;
  padding: 2px 6px 2px 6px;
  border: 1px solid #282F29;
  background: #A8F3AF;
}

.title {
  font-weight: 600;
  font-family: serif;
  font-size: 60px;
  color: #00FF19;
}
body {
  font-family: "Lato", sans-serif;
  margin: 0px;
}
h2{
  margin: inherit;
}
.nav {
  margin: none;
  padding: none;
  border: none;
  width: 100%;
  float: left;
}
ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  background-image: url('navback.jpg');
}
.logoish{
  float: right;
  padding-right: 8px;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.current) {
  background-color: rgba(0, 0, 0, 0.5);
}

.current {
  background-color: rgba(0, 225, 0, 0.5);
}

